* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      font: 13px Helvetica, Arial;
 }

.svg {
    display: inline-block;
    filter: invert(1);
    margin: 0 0 3px -3px;
}

.modal { 
      display: block 
}

.incomming_msg {
    margin:15px 0 15px;
    float: left;
    display: inline-block;
    vertical-align: top;
    width: 55%;
    padding: 0 0 0 10px;
}

.outgoing_msg {
    margin:15px 0 15px;
    float: right;
    display: inline-block;
    vertical-align: top;
    width: 55%;
    padding: 0 10px 0 0;
}
.outgoing_msg > p > a {
     color: wheat;
 }

.incomming_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    color: #646464;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
    word-break: break-all;
}

.outgoing_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    color:#fff;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
    word-break: break-all;
}

.msg_history {
    margin: 20px 0 0 0;
     height: auto;
     overflow-y: auto;
}
.msg_history img{
     width: 100%;
     height: auto;
     max-height: 666px;
     object-fit: contain;
 }

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    background: white;
}
.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 7.5px;
    top: 7.5px;
    width: 33px;
}
.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
    margin-left: 10px;
    word-break: break-all;
}

.mesgs {
    height: 100%;
    margin-bottom: 64px;
}

.time_date_incomming {
    color: #c4c4c4;
    display: block;
    font-size: 12px;
    margin: 2px 0 0 4px;
}

.time_date_outgoing {
    color: #c4c4c4;
    display: block;
    font-size: 12px;
    margin: 2px 4px 0 0px;
    text-align: right;
}