* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
 }
  body {
      font: 13px Helvetica, Arial;
 }
.svg {
    display: inline-block;
    filter: invert(1);
    margin: 0 0 3px -3px;
}
  /*
  form {
      background: #000;
      padding: 3px;
      position: fixed;
      bottom: 0;
      width: 100%;
 }
  form input {
      border: 0;
      padding: 10px;
      width: 90%;
      margin-right: .5%;
 }
  form button {
      width: 9%;
      background: rgb(130, 224, 255);
      border: none;
      padding: 10px;
 }
 */

 .modal { 
      display: block 
}


.received_msg {
     display: inline-block;
     padding: 0 0 0 10px;
     vertical-align: top;
     width: 92%;
}
.received_withd_msg p {
     background: #ebebeb none repeat scroll 0 0;
     border-radius: 3px;
     color: #646464;
     font-size: 14px;
     margin: 0;
     padding: 5px 10px 5px 12px;
     width: 55%;
     word-break: break-all;
}

.outgoing_msg{ 
     overflow:hidden; 
     margin:26px 0 26px;
}
.sent_msg {
  float: right;
  width: 55%;
    padding-right: 10px;
}
.sent_msg a {
     color: wheat;
}

.sent_msg p {
     background: #05728f none repeat scroll 0 0;
     border-radius: 3px;
     font-size: 14px;
     margin: 0; color:#fff;
     padding: 5px 10px 5px 12px;
     width:100%;
     word-break: break-all;
}

.msg_history {
     height: auto;
     overflow-y: auto;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    background: white;
}
.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}
.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.mesgs {
    height: 100%;
    margin-bottom: 64px;
}