<!DOCTYPE html>
<html>

<head>
<!-- 
 ___________________
|_|_______________|_|
|  ,- - - - - - -.  |
| |  .- - - - -.  | |
| |  |         |  | |
| |  |         |  | |
| |  |         |  | |
| |  |         |  | |
| |  `- - - - -'  | |
| `- - - - - - - -' |
|   _ GAME BOY      |
| _| |_         ,-. |
||_ O _|   ,-. "._,"|
|  |_|    "._,"   A |
|    _  _    B      |
|   // //           |
|  // //    \\\\\\  |
|  `  `      \\\\\\ ,
|________...______,"
-->
	
  <meta charset="utf-8">
  
  <!-- prevent unauthorized JS -->
  <meta http-equiv="Content-Security-Policy"
  content="script-src
    https://maxcdn.bootstrapcdn.com/
    https://cdnjs.cloudflare.com/ajax/libs/
    https://code.jquery.com/
    https://cdn.socket.io/
    'self';">
  <!-- prevent mobile zoom (it breaks things) -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0">

  <!-- external files for Bootstrap, jQuery -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- title and CSS -->
  <title>IPR WS1819 Jaif ch@</title>
  <link rel="stylesheet" href="/styles.css">
</head>
	
<body>

<!-- modal for username -->
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enter Username</h5>
        </div>
        <div class="modal-body">
          <input id="username" type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>
        <div class="modal-footer">
          <button type="button" id="btnLogin" class="btn btn-primary">Login</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- this is where messages are inserted -->
  <div class="mesgs">
    <div class="msg_history">
    </div>
  </div>

<!-- input field -->
  <div class="type_msg">
    <div class="input_msg_write">
      <form action="">
        <input id="m" class="write_msg" autocomplete="off" placeholder="Type a message"/>
        <button class="msg_send_btn"><img class="svg" src="/paper-plane.svg"></button>
      </form>
    </div>
  </div>


<!-- JS files for socketIO, jQuery, chat relevant JS and notifications -->
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/script.js"></script>
  <script src="/notify.js"></script>
</body>

</html>
